/*顶部导航部分开始*/
.header1{
  height:40px;
  background: #333333;
  color:#eee;
  font-size: 12px!important;
  line-height: 40px;
}
.user_phone{
  margin:0 8px;
}
.down_up1{
  width:7px;
  height:5px;
  margin-top:17px;
}
.user_stars{
  margin:0 3px 0 20px;
}
.star_div{
  height:14px;
  margin-top:13px;
}
.star_div img{
  float:left;
  display: inline-block;
}
.message_div1{
  position:relative;
  height:15px;
  line-height:15px;
  margin-top:12px;
  margin-left:30px;
}

.dh1_ul>li{
  float:left;
  padding:0 7px;
}
.icon1{
  width:21px;
  height:21px;
  display:inline-block;
  margin-top:8px;
}
.Sina_icon1{
  margin-right:15px;
}
.WeChat_icon1{
  margin-right:5px;
}
.downApp{
  width:72px;
  height:16px;
  margin:12px 35px 0 25px;
  line-height: 16px;
}
/*顶部导航部分结束*/

/*logo部分开始*/
.suspend_nav_div{
  position: relative;
}
.suspend_nav_div_fixed{
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
}
.logo1{
  width:295px;
  height:57px;
  margin:20px 0 30px;
}
.area_div{
  width:107px;
  height:24px;
  margin-top: 38px;
  margin-left:15px;
  font-size:14px;
  line-height: 24px;
  border:1px solid #ff7744;
  border-radius:12px;
}
.area_div img{
  margin:5px 10px 0 15px;
}
.downup2{
  margin-top:10px!important;
  margin-left:10px!important;
}
.search_div{
  position: relative;
  margin-top:40px;
  width:371px;
  height:35px;
  border-radius:18px;
  overflow: hidden;
  background:#f7f7f7;
}
.search_input{
  width:310px;
  height:100%;
  line-height: 35px;
  font-size:14px;
  margin-left:25px;
}
.search_input_div{
  position: absolute;
  top:0;
  left:25px;
  width:310px;
  height:35px;
  background: #f7f7f7;
  line-height: 35px;
  font-size:14px;
  overflow: hidden;
}
.search_input_ul{
  position:absolute;
}
.search_btn{
  width:19px;
  height:19px;
  margin:8px 12px 0 0;
}
/*logo部分结束*/

/*悬浮导航部分开始*/
.suspend_nav{
  position: relative;
  height:14px;
  padding-bottom:20px;
  font-size: 14px;
}
.suspend_nav>li{
  float:left;
  padding:0 30px;
  height:14px;
  border-right:1px solid #bbbbbb;
}
.width220{
  width:220px;
}
.width460{
  width:460px;
}
.width185{
  width:185px;
}
.width148{
  width:148px;
}
.suspend_nav1{
  height:14px;
  font-weight: bold;
}
.suspend_nav1>li{
  float:left;
  margin-right:36px;
  cursor:pointer;
  line-height: 14px;
  position: relative;
}
.suspend_nav1>li:hover{
    color:#ff6000;
}
.suspend_nav1>li:hover div{
  display:block;
}

.nav_indicate_div{
  height:auto;
  text-align: center;
  position: fixed;
  top:160px;
  left:0;
  background: #fff;
  display:none;
  z-index: 99;
  cursor: default;
}
.nav_indicate_div_xf{
  top:123px!important;
}
.kd_nav_indicate{
  position: absolute;
  top:13px;
  left:480px;
  width:24px;
  height:8px;
}
.nav_indicate_alls{
  width:100%;
  height:206px;
  margin-top:20px;
  background: #fcfcfc;
  border-top:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  box-shadow: 0 0 3px #d9d9d9;
}

/*悬浮导航部分结束*/

/*宽带二级导航部分开始*/
.kd_ul1,.recommendTC_div{
  margin-top:30px;
  margin-bottom:35px;
  height:140px;
}
.kd_ul1>li{
  float:left;
  height:140px;
  font-size: 12px;
  line-height: 24px;
  color:#666;
  border-right:1px solid #eeeeee;
  text-align: left;
  padding:0 30px;
}
.kdTwoN_icon{
  display: inline-block;
  margin-right:10px;
  width:18px;
  height:18px;
}
.TwoN_t{
  margin:0 auto 5px;
  line-height: 14px;
  font-size:14px;
  color:#ff7744;
}
.TwoN_ul>li:hover{
  color:#ff7744;
  cursor: pointer;
}
.recommendPic{
  margin:0 20px;
}
.recommendTC_div{
    text-align:left;
}
.recommendTC_tit{
  height:14px;
  padding-left:10px;
  font-size:14px;
  line-height: 14px;
  color:#000;
  border-left:3px solid #ff7744;
}
.recommendTC_dec{
  font-size:12px;
  color:#666666;
  padding:10px 0;
}
.recommendTC_price{
  text-align: left;
  font-size: 12px;
  color:#ff7744;
  padding:20px 0 15px 0;
}
.recommendTC_czBtn{
  width:88px;
  height:28px;
  font-size: 12px;
  color:#ff7744;
  line-height: 28px;
  text-align: center;
  border-radius: 15px;
  border:1px solid #ff7744;
  cursor: pointer;
}
.recommendTC_czBtn:hover{
  background:#ff7744;
  color:#fff;
}
/*宽带二级导航部分结束*/


/*banner1部分开始*/
.banner_div1{
  position: relative;
  height:auto;
  overflow: hidden;
}
.banner_ul1{
  width:200%;
  height:auto;
}
.banner_ul1>li{
  float:left;
  width:50%;
}
.banner1_pic{
  width:100%;
  height:auto;
  display: block;
}

.banner_index_ul{
  position:absolute;
  bottom:20px;
  left:0;
  width:100%;
  height:12px;
  text-align: center;
}
.banner_index_ul>li{
  cursor: pointer;
  margin:0 8px;
  display:inline-block;
  width:12px;
  height:12px;
  border:1px solid #fff;
  border-radius:50%;
  overflow:hidden;
}

/*banner1部分结束*/

/*banner1右边上方区域开始*/
.banner1_center{
  position:absolute;
  top:0;
  left:50%;
  margin-left:-600px;
}
.banner_right_bg,.banner_right_div{
  position: absolute;
  top:55px;
  right:0;
  width:306px;
  height:254px;
  font-size: 12px;
}
.banner_right_bg{
  background: #000;
  opacity: 0.3;
}

.cz_price{
  margin:35px 15px 0;
  width:276px;
  height:35px;
}
.cz_price>li{
  float:left;
  width:46px;
  text-align: center;
}
.cz_price>li>span{
  display: inline-block;
  width:40px;
  height:17px;
  line-height: 19px;
  color:#fff;
  border-radius:8px;
  overflow: hidden;
  cursor: pointer;
}
.select_span{
  line-height: 17px!important;
  background: #da2627;
  border:1px solid #da2627;
}
.zdy_btn{
  line-height: 17px!important;
}
.downup3{
  width:19px;
  height:8px;
  margin-top:8px;
}
.cz_div{
    width: 276px;
    margin: 0 auto;
    float: left;
    margin-left: 15px;
}
.cz_phone{
  width:198px;
  height:30px;
  padding-left:18px;
  background:#fff;
}
.cz_btn{
  display: inline-block;
  width:60px;
  height:30px;
  line-height: 30px;
  text-align: center;
  background:#da2627;
  color:#fff;
  font-size:14px;
  cursor: pointer;
}
.notice_bg,.notice_div{
  position: absolute;
  width:100%;
  height:125px;
  bottom:0;
}
.notice_bg{
  background: #000;
  opacity:0.1;
}
.notice_div{
  width:270px;
  left:18px;
}
.notice_top{
  width:100%;
  padding-top:5px;
  line-height: 25px;
  font-size:12px;
  color:#fff;
  border-bottom:1px solid #aaa;
}
.notice_icon{
  width:8px;
  height:11px;
  margin-top:7px;
  margin-right:5px;
}
.notice_list >li{
  cursor: pointer;
  margin-top:12px;
  color:#fff;
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.listRound{
  float:left;
  display:inline-block;
  width:4px;
  height:4px;
  border-radius:50%;
  background: #fff;
  overflow: hidden;
  margin-top:7px;
  margin-right:5px;
}
/*banner1右边上方区域结束*/


/*用户信息部分开始*/
.user_message_div{
  height:165px;
  font-size:12px;
  box-shadow: 0 0 0px 2px #f0f0f0;
  -webkit-box-shadow: 0 0 0px23px #f0f0f0;
  -moz-box-shadow: 0 0 0px 2px #f0f0f0;
}
.user_message_ul{
  height:49px;
  text-align: center;
  border-bottom:1px solid #d9d9d9;
}
.user_message_ul>li{
  float:left;
  width:25%;
  height:18px;
  line-height: 18px;
}
.user_message_ul>li>p{
  margin-top:15px;
}
.user_message_ul>li>p>span{
  float:left;
}
.message1_btn{
  display: inline-block;
  margin-left:13px;
  width:78px;
  height:18px;
  font-size:13px;
  color:#ff6000;
  line-height: 18px;
  text-align: center;
  border:1px solid #ff6000;
  border-radius:9px;
  cursor: pointer;
}
.message1_btn:hover{
  background:#ff6000;
  color:#fff;
}
/*用户信息部分结束*/

/*用户信息下面：查询、办理、交费、客服部分开始*/
.user_operate_ul{
  height:114px;
}
.user_operate_ul>li{
  float:left;
  height:100%;
  width:25%;
}
.user_iperate_img{
  width:100px;
  height:100px;
  margin-top:7px;
  text-align: center;
}
.user_iperate_img>img{
  display:inline-block;
  margin:21px auto;
}

.user_iperate_title{
  font-size:14px;
  color:#000;
  line-height: 24px;
  padding-top:20px;
}
.user_iperate_xm_ul{
  width:200px;
}
.user_iperate_xm_ul>li{
  float:left;
  margin-right:15px;
  line-height: 22px;
  cursor: pointer;
}
.user_iperate_xm_ul>li:hover{
  color:#ff6000;
}
/*用户信息下面：查询、办理、交费、客服部分结束*/

/*联通精选部分开始*/
.lx_jx_header{
  width:100%;
  line-height: 68px;
  text-align:center;
}
.lx_jx_sx_ul{
  width:348px;
  height:24px;
  margin:0 auto 15px;
  font-size:14px;

}
.lx_jx_sx_ul>li{
  float:left;
  width:98px;
  height:22px;
  line-height: 22px;
  border:1px solid #ff6600;
  border-radius:11px;
  margin:0 8px;
  cursor: pointer;
}
.lx_jx_sx_select{
  background: #ff6600;
  color:#fff;
}

.lx_jx_pro_ul{
  height:220px;
}
.lx_jx_pro_ul>li{
  position: relative;
  float:left;
  width:290px;
  height:100%;
  background: #fff;
  text-align:center;
  margin-right:10px;
  border:1px solid #f3f3f3;
  border-top:1px solid #ff6600;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.lx_jx_pro_ul>li:last-child{
  float:right;
  margin-right:0;
}
.lx_jx_pro_ul>li:hover{
  -webkit-box-shadow: 0 15px 30px #ddd;
  -moz-box-shadow: 0 15px 30px #ddd;
  box-shadow: 0 15px 30px #ddd;
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
.lx_jx_pro_ul>li:hover .lx_jx_pro_fc_div{
  height:76px;
}
.lx_jx_pro_fc_div{
  width:100%;
  height:0;
  position: absolute;
  bottom:0;
  left:0;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.lx_jx_pro_fc_bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #ff6000;
  opacity: 0.8;
}
.lx_jx_pro_fc_nr{
  position:relative;
  padding-top:7px;
  padding-left:20px;
}
.lx_jx_pro_fc_nr>li{
  height:18px;
  line-height: 18px;
  font-size: 12px;
  color:#fff;
  text-align: left;
}
.round2{
  float:left;
  display: inline-block;
  margin:6px 10px 0 0 ;
  width:5px;
  height:5px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}

.jx_tit{
  font-size: 16px;
  color:#333;
  line-height: 26px;
  margin-top:25px;
}
.jx_tit2{
  font-size:12px;
  color:#999;
  line-height: 18px;
}
.lx_jx_pro_img_div{
  width:150px;
  height:150px;
  margin:0 auto;
  position: relative;
}
.creamIcon1{
  width:28px;
  height:28px;
  position:absolute;
  top:72px;
  right:10px;
}
.yb_icon1{
  width:28px;
  height:28px;
  position:absolute;
  top:85px;
  right:10px;
}
.lx_jx_pro_txt1{
  position: absolute;
  top:66px;
  left:10px;
  font-size:14px;
  color:#333;
}
.lx_jx_pro_txt2{
  position: absolute;
  top:85px;
  left:0px;
  width:90px;
  height:16px;
  padding-left:10px;
  font-size:12px;
  line-height: 16px;
  color:#fff;
  background:#ff6600;
}
/*联通精选部分结束*/

/*流量专区部分开始*/
.traffic_div,.G4_div{
  width:594px;
  height:520px;
}

.floor_tit3_fg{
  display: inline-block;
  margin:0 20px;
}
.floor_tit3_div span:hover{
  color:#ff6600;
  cursor:pointer;
}
.more_div{
  width:50px;
  height:16px;
  line-height: 16px;
  margin-top: -20px;
  font-size: 14px;
  color: #999;
}
.more_icon{
  width:16px;
  height:16px;
}
.traffic_ul1,.G4_ul1{
  margin-top:15px;
  height:162px;
}
.traffic_ul1 li,.G4_ul1 li{
  float:left;
  width:290px;
  height:160px;
  border:1px solid #f3f3f3;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.traffic_ul1 li:hover .traffic_ul1_libg{

  -webkit-transform:scale(1.05);
  transform:scale(1.05);
  top:-2%;
  left:-2%;
  width:104%;
  height:104%;
}
.G4_ul1 li:hover .G4_ul1_libg{

  -webkit-transform:scale(1.05);
  transform:scale(1.05);
  top:-2%;
  left:-2%;
  width:104%;
  height:104%;
}
.fr{
  float:right!important;
}
.traffic_ul1_libg,.G4_ul1_libg,.kdzq_bg1{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:160px;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
   -webkit-transition: -webkit-transform 1s;
   transition: -webkit-transform 1s;
   transition: transform 1s;
   transition: transform 1s,-webkit-transform 1s;
}

.traffic_ul1_li_message_div{
  position:absolute;
  top:50%;
  left:50%;
  width:215px;
  height:73px;
  margin-top:-36px;
  margin-left:-107px;
  background:#fff;
  text-align: center;
}
.traffic_ul1_li_message1{
  font-size:16px;
  line-height: 38px;
  padding-top:2px;
  color: #555;
  font-weight: bold;
}
.traffic_ul1_li_message2{
  width:130px;
  height:20px;
  margin:0 auto;
  border:1px solid #ff6000;
  border-radius:10px;
  color:#ff6000;
  font-size:14px;
}
.traffic_ul2,.broadband_ul2,.G4_ul2{
  margin-top:10px;
  height:245px;
}

.traffic_ul2>li,.broadband_ul2>li,.G4_ul2>li{
  position: relative;
  float:left;
  width:188px;
  border:1px solid #f3f3f3;
  height:100%;
  text-align: center;
  background: #fff;
  margin-right:12px;
}
.traffic_ul2>li:last-child,.broadband_ul2>li:last-child,.G4_ul2>li:last-child{
  margin-right:0!important;
}

.traffic_ul2>li:hover{
  -webkit-box-shadow: 0 15px 30px #ddd;
  -moz-box-shadow: 0 15px 30px #ddd;
  box-shadow: 0 15px 30px #ddd;
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}

.traffic_ul2_message1,.G4_ul2_message1{
  font-size: 16px;
  color:#333;
  margin-top:30px;
}
.traffic_ul2_message2,.G4_ul2_message2{
  font-size:12px;
  color:#959595;
  line-height: 22px;
}
.img_div2{
  width:92px;
  margin:45px auto 0;
  position: relative;
}
.img_div2 .llb_icon{
  width:92px;
  height:68px;
}
.img_div2 .llb_style{
  position: absolute;
  bottom:-5px;
  right:-5px;
  width:28px;
  height:28px;
}
.traffic_ul2 .pro_style{
  position: absolute;
  left:0;
  bottom:20px;
  width:60px;
  height:17px;
  line-height:17px;
  color:#fff;
  font-size: 12px;
}
/*流量专区部分结束*/

/*宽带专区部分开始*/
.broadband_div{
  width:596px;
}
.broadband_top{
  width:594px;
  height:160px;
  border:1px solid #f3f3f3;
  position: relative;
  margin-top:15px;
  overflow: hidden;
  cursor: pointer;
}
.kdzq_bg1{
  width:100%;
  height:100%;
}
.broadband_fc{
  position: absolute;
  top:39px;
  right:-11px;
  width:331px;
  height:80px;
}
.broadband_top:hover .kdzq_bg1{
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
  top:-2%;
  left:-2%;
  width:104%;
  height:104%;
}
.broadband_fc>img{
  width:331px;
  height:80px;
}
.broadband_top_mes{
  width:295px;
  height:auto;
  position:absolute;
  top:7px;
  left:15px;
}
.broadband_top_txt1{
  font-size:18px;
  font-weight: bold;
  color:#333;
  line-height: 30px;
  padding-left:10px;
}
.broadband_top_txt2{
  padding-left:10px;
  font-size:14px;
  color:#ff6000;
  line-height: 24px;
}
/*.broadband_ul2{
  margin-top: 12px;
}*/
.broadband_ul2 .img_div2{
  width:100%;
}
.broadband_ul2 .img_div2 .kdzq_pic{
  width:100%;
}

.broadband_ul2>li:hover{
  -webkit-box-shadow: 0 15px 30px #ddd;
  -moz-box-shadow: 0 15px 30px #ddd;
  box-shadow: 0 15px 30px #ddd;
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
/*宽带专区部分结束*/

/*4G套餐部分开始*/
.G4_ul1_li_message_div1{
  width:230px;
  height: 101px;
  position: absolute;
  top:50%;
  left:50%;
  margin:-50px -115px;
}
.G4_ul1_li1_div{
  top:40px;
  margin-top:0;
}
.G4_ul1_li_message_bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.G4_ul1_li_message_div2{
  width:230px;
  height: 101px;
  position: absolute;
  top:50%;
  left:50%;
  margin:-50px -115px;
}
.G4_ul1_li_message1{
  position: absolute;
  top:8px;
  width:100%;
  font-size:16px;
  line-height: 28px;
  text-align: center;
  color: #555;
  font-weight: bold;
}
.top20{
  top:20px;
}
.G4_ul1_li_message2{
  position: absolute;
  top:40px;
  left:50%;
  width:70px;
  height:14px;
  margin-left:-35px;
  border:1px solid #ff6000;
  border-radius:10px;
  color:#ff6000;
  font-size:12px;
  line-height: 14px;
  text-align: center;
}
.top51{
  top:51px;
}
.img_div3{
  width:139px;
  height:82px;
  border:1px solid #f3f3f3;
  position:absolute;
  top:105px;
  left:50%;
  margin-left:-70px;
}
.taocan_style2{
  width:26px;
  height:26px;
  position:absolute;
  bottom:10px;
  right:10px;
}
.pro_style {
    position: absolute;
    left: 0;
    bottom:15px;
    width: 60px;
    height: 17px;
    line-height: 17px;
    color: #fff;
    font-size: 12px;
}
.img_div3_message1 {
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 14px;
    color: #333;
}
.img_div3_message2{
  position: absolute;
  top: 55px;
  left: 0px;
  width: 90px;
  height: 16px;
  padding-left: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background: #ff6600;
}
.G4_ul2>li:hover{
  -webkit-box-shadow: 0 15px 30px #ddd;
  -moz-box-shadow: 0 15px 30px #ddd;
  box-shadow: 0 15px 30px #ddd;
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
/*4G套餐部分结束*/

/*靓号专场部分开始*/
.mobileNumber_div{
  width:596px;
}
.mobileNumber_div_ul1{
  width:594px;
  height:388px;
  margin-top:12px;
  background: #fff;
  border:1px solid #f3f3f3;
  padding-top:30px;
}
.mobileNumber_div_ul1>li{
  width:100%;
  height:190px;
  text-align: center;
  position: relative;
}
.mobileNumber_banner_top_div{
  width:559px;
  margin:0 auto;
}
.mobileNumber_banner_top_txt{
  font-size:16px;
  color:#333;
  line-height: 26px;
}
.mobileNumber_banner1_div,.mobileNumber_banner2_div{
  width:524px;
  height:96px;
  margin:0 auto;
  overflow: hidden;
}
.mobileNumber_banner1,.mobileNumber_banner2{
  width:524px;
  height:96px;
  margin:0 auto;
}
.mobileNumber_banner1>li,.mobileNumber_banner2>li{
  float:left;
  height:96px;
}
.mobileNumber_banner_ul{
  float:left;
  width:216px;
  height:96px;
  padding:0 23px;
  line-height: 32px;
  font-size:16px;
  color:#333;
}
.mobileNumber_banner_ul>li{
  height:32px;
  cursor:pointer;
}
.numB_ycf{
  font-size:14px;
  color:#999;
}
.mobileNumber_banner1_index_ul,.mobileNumber_banner2_index_ul{
  width:100%;
  height:10px;
  text-align: center;
  margin-top:5px;
}
.mobileNumber_banner1_index_ul>li,.mobileNumber_banner2_index_ul>li{
  width:8px;
  height: 8px;
  margin:0 7px;
  border:1px solid #dfdfdf;
  border-radius:50%;
  display:inline-block;
  cursor: pointer;
}
.index_select2{
  background: #ff6000;
  border:1px solid #ff6000!important;
}
.bannerCon{
  width:36px;
  height:50px;
  position: absolute;
  top:70px;
  text-align: center;
  cursor: pointer;
}
.bannerLeft1,.bannerLeft2{
  left:0;
}
.bannerRight1,.bannerRight2{
  right:0;
}
.bannerCon_pic{
  margin:14px auto;
}
.bannerCon:hover{
  background: #868686;
}
/*靓号专场部分结束*/

/*手机配件部分开始*/

.phoneAccessories_div_header{
  margin-top:35px;
}
.phone_ul1{
  height:352px;
  margin-top:15px;
}
.phone_ul1>li{
  float:left;
  width:290px;
  height:350px;
  background: #fff;
  border:1px solid #f3f3f3;
  margin-right:10px;
  text-align: center;
}

.phone_ul1_li1:hover,.phone_ul2_li2:hover{
  -webkit-box-shadow: 0 15px 30px #ddd;
  -moz-box-shadow: 0 15px 30px #ddd;
  box-shadow: 0 15px 30px #ddd;
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
.phone_ul1>li:last-child{
  float:right;
  margin-right:0;
}
.phone_pj_pic{
  width:210px;
  height:210px;
  margin:40px auto 0;
}
.phoneName1,.phoneName2{
  font-size: 16px;
  color:#333;
  line-height: 26px;
  margin-top:25px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone_yh1,.phone_yh2{
  font-size: 12px;
  line-height: 22px;
  color:#999;
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phone_ul2>li{
  width:100%;
  height:169px;
  background:#fff;
  border:1px solid #f3f3f3;
  position: relative;
}
.phone_ul2>li:last-child{
  margin-top:10px;
}
.phoneName2,.phone_yh2{
  width:120px;
  padding-left:15px;
  text-align: left;
}
.phone_pj_pic2{
  float:right;
  width:150px;
  height:169px;
  margin-top:-73px;
}
.accessories_ul{
  margin-top:10px;
  width:1202px;
  height:97px;
  background: #fff;
  border:1px solid #f3f3f3;
  margin-left:-2px;
}
.accessories_ul>li{
  float:left;
  width:200px;
  text-align: center;
  position: relative;
}
.accessories_ul>li:hover .accessories_fc_div{
  height:97px;
}
.accessories_fc_div{
  width:100%;
  height:0;
  position: absolute;
  bottom:0;
  left:0;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.accessories_fc_bg{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: #ff6000;
  opacity: 0.8;
}
.accessories_fc_nr{
  position: relative;
  padding-top: 33px;
  /*padding-left: 20px;*/
  font-size:12px;
  line-height: 16px;
  color:#fff;
}
.accessories_pic{
  width:97px;
  height:97px;
  margin:0 auto;
}
/*手机配件部分结束*/

/*上网卡部分开始*/
.InternetCard_div_header{
  margin-top:30px;
}
.InternetCard_ul{
  height:208px;
  margin-top:15px;
}
.InternetCard_ul>li{
  float:left;
  width:290px;
  height:100%;
  background: #fff;
  margin-right:10px;
  border:1px solid #f3f3f3;
  position:relative;
}
.InternetCard_ul>li:hover{
  -webkit-box-shadow: 0 15px 30px #ddd;
  -moz-box-shadow: 0 15px 30px #ddd;
  box-shadow: 0 15px 30px #ddd;
  -webkit-transform: translate3d(0,-2px,0);
  -moz-transform: translate3d(0,-2px,0);
  transform: translate3d(0,-2px,0);
}
.InternetCard_ul>li:last-child{
  float:right;
  margin-right:0;
}
.img_div4{
  width:139px;
  height:82px;
  margin:33px auto 28px;
  position: relative;
}
.phoneCard_icon1{
  width:100%;
  height:100%;
}
.Internet_icon{
  position: absolute;
  bottom:10px;
  right:10px;
  width:29px;
  height:28px;
}
.img_div4 .img_div3_message2{
  width:80px;
  padding-left:15px;
}
.InternetCard_message1{
  font-size:16px;
  line-height: 26px;
  color:#333;
  text-align: center;
}
.InternetCard_message2{
  font-size:12px;
  line-height: 22px;
  color:#ff6000;
  text-align: center;
}

/*上网卡部分结束*/

/*生活服务部分开始*/
.lifeService_div_header{
  margin-top:30px;
}

.lifeService_ul{
  margin-top:10px;
  width:1202px;
  height:188px;
  background: #fff;
  border:1px solid #f3f3f3;
  margin-left:-2px;
}
.lifeService_ul li{
  float:left;
  width:20%;
  text-align: center;
}
.lifeService_pic{
  width:50px;
  height:50px;
  margin:45px auto 0;
  cursor: pointer;
}
.lifeService_txt{
  font-size: 16px;
  color:#555;
  margin-top:20px;
}
/*生活服务部分结束*/

/*底部部分开始*/
.bottom_nav_div{
  height:195px;
  padding-top:45px;
  border-top:1px solid #f3f3f3;
  background:#ffffff;
  margin-top:20px;
}
.nav_left{
  height:132px;
  border-right:1px solid #d3d3d3;
}
.nav_left>ul{
  float:left;
  width:165px;
  font-size:12px;
  line-height: 25px;
}
.nav_left>ul a{
  color:#999;
}
.bottom_nav_tits{
  font-size: 14px;
  color:#666;
  margin-bottom:15px;
  line-height: 14px;
}
.appLoad_div>ul>li{
  float:left;
  text-align: center;
  margin-right:20px;
}
.load_btn{
  width:98px;
  height:20px;
  line-height: 20px;
  text-align: center;
  font-size:12px;
  color:#515151;
  border:1px solid #d6d6d6;
  margin:14px auto 0;
}
.Android_load{
  margin-top:50px;
}
.attentionUs{
  width:95px;
  text-align: center;
}
.WeChat_Sina_pic2{
  width:30px;
  height:30px;
  margin-top:15px;
  display:inline-block;
}
/*底部部分结束*/

/*底部备案信息部分开始*/
.reference_div{
  height:200px;
  background:#fcfcfc;
  font-size:12px;
  line-height: 12px;
  color:#fbfbfb;
  text-align: center;
}
.flinks{
  display: inline-block;
  padding:5px 0 10px;
}
.flinks li{
  float:left;
  height:12px;
  padding:0 10px;
  color:#bfbfbf;
  border-right:1px solid #bfbfbf;
}
.width1005{
  width:1005px;
  margin:0 auto;
}
.CopyRight_div{
  border-top:1px solid #f4f4f4;
  padding-top:10px;
  line-height: 20px;
  color: #bfbfbf;
}
.copyright_pics{
  margin-top:20px;
}
/*底部备案信息部分结束*/

/*左侧导航部分开始*/

.Left_win{
  display: none;
  width:74px;
  height:340px;
  position: fixed;
  top:50%;
  left:10px;
  margin-top: -170px;
  z-index: 999;
}
.wo_icon1{
  width:74px;
  height:40px;
}
.Left_win1{
  width:74px;
  height:300px;
  background: #fff;
  box-shadow: 0 2px 2px #eeeeee;
}
.Left_Wul{
  width:57px;
  margin:0 auto;
  text-align: center;
}
.Left_Wul>li{
  height:59px;
  line-height: 59px;
  font-size: 12px;
  color:#666;
  border-bottom:1px solid #eee;
  cursor: pointer;
}
.Left_Wul>li:hover{
  color:#ff6000;
}
/*左侧导航部分结束*/

/*右侧悬浮窗部分开始*/

.Right_Win{
  position: fixed;
  top:50%;
  right:10px;
  margin-top:-113px;
  width:66px;
  height:225px;
  background: #fff;
  border:1px solid #dddddd;
  z-index: 999;
}

.Right_Win>li{
  height:60px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color:#666;
  border-bottom:1px solid #ddd;
  cursor: pointer;
}
.backTop_btn{
  height:43px;
  border-bottom: none;
  cursor: pointer;
}
.Right_Win>li:hover{
  color:#ff6000;
}

.right_win_pic{
  width:22px;
  height:23px;
  margin:8px auto 0;
}
.backTop_pic{
  width:100%;
  height:100%;
}

/*右侧悬浮窗部分结束*/
